/* Estilos base para el cuerpo de la página */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: rgb(15, 15, 15);
}

h2 {
  color: rgb(255, 255, 255);
}

figcaption,
p,
label,
#auth-span,
.auth-switch {
  color: rgb(199, 199, 199);
}

h1,
h2,
figure {
  margin: 0;
}

/* Estilos para la barra de encabezado */
.main-header {
  display: flex;
  position: fixed;
  background-color: rgba(0, 0, 0);
  color: white;
  width: 100%;
  z-index: 1;
  border-bottom: 2px solid rgb(45, 45, 45);
}

.main-header svg {
  padding: 0.6rem;
}

.show-menu {
  flex-direction: column;
  text-align: start;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  min-height: 100vh;
}

.main-header ul {
  min-height: 100vh;
  padding: 0;
}

.main-header ul li {
  padding: 0.8rem 0;
  list-style: none;
  font-size: larger;
}

.menu-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 4rem;
}

.background-menu {
  background-color: rgba(0, 0, 0, 0.8);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(33, 33, 33);
  min-height: 200px;
  clip-path: polygon(0% 15%, 100% 0, 100% 100%, 0% 100%);
}

footer span {
  color: white;
}

@media screen and (width >= 768px) {
  .menu-content {
    display: flex;
    justify-content: space-between;
    flex-direction: unset;
    padding: 0 6rem;
    margin-top: 0;
  }

  .main-header ul {
    display: flex;
    min-height: 48px;
  }

  .main-header div {
    display: flex;
    align-items: center;
  }

  .main-header ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    font-size: medium;
  }

  .main-header ul li a {
    text-align: center;
  }
}
