.management-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
}

.manage-buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.6rem 0;
  background-color: #367efa;
  color: white;
  border: none;
  border-radius: 0.3rem;
  font-size: large;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.management-content h2 {
  margin: 0;
}

.management-content .sort-players {
  margin: 2rem 0;
}

.management-content ul {
  margin: 0;
  padding: 40px 0;
}

.management-content li {
  display: flex;
  padding: 0.5rem 0;
}

.management-content figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 60dvw;
  max-width: 60dvw;
}

.management-content li img {
  aspect-ratio: 16/9;
  width: 100%;
  object-fit: cover;
}

.management-content figure figcaption {
  font-size: large;
  padding: 0.4rem;
}

.management-content .manage-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.management-content .manage-buttons button {
  padding: 0.3rem 0.7rem;
}

.management-content .align-buttons {
  flex-direction: row;
  gap: 0.3rem;
}

.management-content .player-name {
  display: flex;
  align-items: center;
  color: white;
  min-width: 60dvw;
}

.management-content .player-name span {
  margin-left: 0.5rem;
}

@media screen and (width >= 768px) {
  .management-content {
    padding-top: 120px;
  }

  .management-content figure {
    min-width: 248px;
    max-width: 248px;
    padding-right: 36px;
  }

  .management-content .player-name {
    display: flex;
    align-items: center;
    color: white;
    min-width: 500px;
  }
}
