/*ESTILOS PARA playersS*/
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&display=swap");

.players {
  padding-top: 100px;
}

/*STYLES FOR PLAYERS PAGE*/

.sort-players {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

.sort-players select {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  margin-top: 10px;
}

.sort-players select:hover {
  border-color: #555;
}

.sort-players select:focus {
  box-shadow: 0 0 5px rgba(18, 18, 18, 0.5); /* Efecto de sombra cuando está enfocado */
}

.players-searcher {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*STYLES FOR HOME PAGE*/

.view-more-players {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.players .view-more-players-button {
  background-color: #d62f2f;
  color: white;
  padding: 0.5rem 1.4rem;
  border: none;
  border-radius: 0.3rem;
  font-size: larger;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 15px;
}

.players .view-more-players-button:hover {
  background-color: #636363; /* Cambia el color al pasar el mouse sobre el botón */
}

.players .top {
  display: flex;
  align-items: center;
}

.players .top span {
  font-size: large;
  margin-left: auto;
  color: rgb(217, 19, 19);
}

.players ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100dvw;
  padding: 0;
}

.players li {
  margin: 30px 0;
  width: 100%;
  background-color: white;
}

.player li:hover {
  cursor: pointer;
}

.players li figure img {
  width: 100%;
}

.players .content {
  padding: 20px 15px 30px 15px;
}

.skill-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.skill {
  padding: 2px 12px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  border: solid black 2px;
  gap: 8px;
}

.skill span {
  color: rgb(0, 0, 0);
}

/* ANIMATIONS */

.player {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.player.clicked {
  transform: scale(0.95); /*solo funciona en mobile*/
}

@media screen and (width >= 768px) {
  .sort-players {
    flex-direction: row;
    gap: 20px;
  }

  .players ul {
    display: flex;
    flex-direction: unset;
    flex-wrap: wrap;
  }

  .players li {
    max-width: calc(35%);
    margin: 20px 50px;
    outline: #bcbcbc 1px solid;
    border-radius: 3px;
  }

  .players li:hover {
    transform: scale(1.05);
  }

  .players .content {
    padding: 20px 30px 40px 20px;
  }
}
