/* Estilos base para el cuerpo de la página */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  max-width: 100vw;
  background-color: rgb(34, 34, 34);
}

h2,
figcaption,
p {
  color: white;
}

h2 {
  margin: 0;
}

/* Estilos para la barra de encabezado */
.main-header {
  display: flex;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  width: 100%;
  z-index: 1;
}

.main-header svg {
  padding: 0.6rem;
}

.show-menu {
  flex-direction: column;
  text-align: start;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  min-height: 100vh;
}

.menu-content {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.main-header ul {
  min-height: 100vh;
  padding: 0;
}

.main-header ul li {
  padding: 0.6rem 0;
  list-style: none;
  font-size: 20px;
}

/* Estilos para el contenedor de bienvenida */
.welcome-container {
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  max-height: 100vh;
  text-align: center;
}

/* Estilos para el fondo semitransparente del contenedor */
.welcome-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

/* Estilos para la imagen de fondo */
.welcome-container img {
  width: 100vw;
  object-fit: cover;
}

/* Estilos para el título */
.welcome-container h1 {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  color: white;
  width: 100%;
  height: 100%;
  font-size: 12vw;
}
