.detailed-player {
  padding-top: 80px;
}

.detailed-player h2 {
  margin: 0;
  color: #dbd6d9;
}

.detailed-player header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.detailed-player header span {
  color: #d2231e;
}

.detailed-player main {
  padding: 1.5rem 0;
}

.detailed-player main img {
  max-width: 100vw;
}

.player-content {
  padding: 1rem 1rem;
}

.player-description {
  padding: 0.5rem 1rem;
}
